<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokémon Analysis</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
    <h1>Pokémon Analysis</h1>
    <ul>
        <li><a href="/analysis/avg_stats_by_type">Go to Analyses</a></li>
        <li><a href="/charts/chart_attack_by_type">Go to Charts</a></li>
        <li><a href="/export/json">Export Data (JSON)</a></li>
        <li><a href="/export/xml">Export Data (XML)</a></li>
    </ul>
</body>
</html>
